// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/atoms/countdown/countdown';
@import '../_modules/atoms/header/header';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;

    padding: 0 2.5em;
}

.bottom {
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-top: 105px;
}
