// Normalize Styles
@import 'node_modules/normalize.css/normalize';

@import 'fonts';
@import 'variables';

// Import Modules
@import '../_modules/atoms/countdown/countdown';
@import '../_modules/atoms/header/header';
@import '../_modules/atoms/coins/coins';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  align-items: center;
  color: $primaryColor;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;

  font-family: $primaryFont, sans-serif;

  padding: 70px 60px;
}

// @keyframes slideBg {
//     from {
//         background-position-x: 0;
//     }
//
//     to {
//         background-position-x: -1000000px;
//     }
// }

.presents {
  width: 1080px;
  height: 920px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  align-items: center;
  color: $primaryColor;

  font-family: $primaryFont, sans-serif;

  background-image: url('../images/presentsnew.png');
  background-repeat: repeat;
  background-position-x: 0;
  background-position-y: 920px;

  // animation: slideBg 35s linear infinite;

  z-index: 1;
}

.toShow {
  opacity: 0;

  transform: translateX(-100px);

  &.show {
    opacity: 1;
    transform: translateX(0px);

    transition: opacity .3s, transform 1s;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__arrow {
    position: relative;
    top: 147px;

    img {
      max-width: 90px;
    }
  }

  &__content {
    padding-left: 30px;
  }

  .main-title {
    text-align: left;
    font-size: 87px;

    margin-top: 80px;
    margin-bottom: 40px;
    letter-spacing: -1px;
  }

  h2 {
    text-align: left;
    margin-top: 55px;
    font-size: 27pt;

    font-family: $secondaryFont, 'sans-serif';
  }

  h3 {
    font-size: 18pt;
    color: $darkGrey;

    font-family: $secondaryFont, 'sans-serif';
  }
}

.bottom {
  display: flex;
  align-items: center;

  flex-direction: column;

  justify-content: space-between;

  position: absolute;
  width: calc(1080px - 120px);
  bottom: 70px;

  z-index: 2;

  opacity: 0;
  transition: opacity .9s;

  &.show {
    opacity: 1;
    transition: opacity .9s;
  }

  &__conditions {

    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 100%;
    padding-bottom: 30px;

    img {
      width: 220px;
      height: 132.77px;

      &:last-of-type {
        margin-left: 18px;
      }

    }

    span {
      color: $darkGrey;
      font-size: 13pt;
      line-height: 1.3;
      padding-left: 30px;

      font-family: $secondaryFont, 'sans-serif';
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;

    padding: 1em 0 0;
  }

}
