// countdown styles
.countdown-timer {
  display: block;

  .clock {
    display: flex;
    justify-content: center;

    .num {
      background-color: grey;
      color: white;

      font-size: 4em;
      font-weight: bold;
      padding: .4em .2em;
      margin: 0 5px;
      border-radius: 5px;
    }

    .title {
      font-size: 2em;
    }
  }
}
