extends _layouts/base

include _modules/atoms/countdown/countdown
include _modules/atoms/header/header
include _modules/atoms/coins/coins

block content
  .presents
  .container

    +coins({
      coins: [
        {
          dimensions: '88px',
          top: '45%',
          left: '2.5%',
          rotate: '-55deg',
          animationDuration: '6s'
        },
        {
          dimensions: '100px',
          left: '6%',
          rotate: '-15deg',
          animationDuration: '13s'
        },
        {
          dimensions: '160px',
          left: '23%',
          rotate: '-22deg',
          animationDuration: '10s'
        },
        {
          dimensions: '90px',
          left: '47%',
          rotate: '5deg',
          animationDuration: '6s'
        },
        {
          dimensions: '102px',
          left: '62%',
          rotate: '2deg',
          animationDuration: '8s'
        },
        {
          dimensions: '65px',
          left: '66%',
          rotate: '45deg',
          animationDuration: '12s'
        },
        {
          dimensions: '65px',
          left: '88%',
          rotate: '45deg',
          animationDuration: '9s'
        },
        {
          dimensions: '130px',
          left: '88%',
          rotate: '45deg',
          animationDuration: '8s'
        }
      ]
    })

    +header()
    .main-content
      .main-content__arrow.toShow
        img(src="../images/angle-right.png")
      .main-content__content
        h1.main-title
          | SINGLES’ DAY - 11.11
        +countdown()

        h2.toShow
          | From 1 November to 31 December 2018,
          br
          | shop your way to a cashback reward of up to
          br
          | S$20,000* with Standard Chartered Credit Cards.

        h3.toShow
          | SMS XMAS to 77222 from your registered mobile number with the bank
          br
          | to participate in the promotion. Visit sc.com/sg/xmas to find out more.

    .bottom

      .bottom__conditions

        img(class="card1" src="../images/mastercard.png")
        img(class="card2" src="../images/visa.png")

        span
          | * Be amongst the first 1,000 eligible cardholders to
          br
          | successfully spend a minimum of S$15,000 on eligible
          br
          | retail transactions and register to receive either a
          br
          | 1-night weekend staycation at Marriott Tang Plaza Hotel
          br
          | or up to S$20,000 cashback reward. Christmas 2018
          br
          | Promotion Terms & Conditions apply.
          br
          | Visit sc.com/sg/xmas for the full terms and conditions.

      .bottom__text
        img(class="url" src="../images/URL.png")
        img(class="slogan" src="../images/HereForGood.png")
