extends _layouts/base

include _modules/atoms/countdown/countdown
include _modules/atoms/header/header

block content
  .container
    +header()
    h1(style="text-align: center; font-size: 5em; margin-top: 80px;") SINGLES DAY 11.11
    +countdown()
    h1(style="text-align: left; margin-top: 70px; font-size: 2.3em")
      | From 1 November to 31 December 2018,
      br
      | shop your way to a cashback reward of up to
      br
      | S$20,000* with Standard Chartered Credit Cards.

    .bottom
      img(src="../images/SCB_UnlimitedMC.png" style="max-width: 240px;")
      h1(style="color: #309c2f; font-size: 3em;") Here for good
